gwt-unitCache/*
.settings
.classpath
/bin
.gitignore_global
.gwt
.metadata
extras

# java ignore 
*.class

# Package Files #
#*.jar
*.war
*.ear
*generated*

addressbook.db
war/.DS_Store
war/WEB-INF/*
war/ziplly
*/WEB-INF/deploy/*
*/WEB-INF/classes/*
/test-classes
