@CHARSET "US-ASCII";

@external .tab-content, .updateAlertBlock;

.rootPanel {
	width: 100%;
	height: auto;
}

.asidePanel {
	border: 1px solid #ddd;
	background: #fff;
	margin: 6px;
}

.asidePanel dt {
	margin: 12px 2px;
	background: #f9f9f9;
	font-family: monospace;
	font-size: 1em;
}

dt:hover {
	background: #ddd;
}

a.link {
	color: #30abd5;
	display: inline-block;
	padding: 8px 10px;
	font-weight: 700;
}

a.link:hover {
	color: #fff;
}

.mainSection {
	position: relative;
	left: 12%;
	width: 100%;
	margin: auto;
	background: #faf8f6;
	font-size: 100%;
}

.profileDiv {
	position: absolute;
	left: 0;
	top: 0;
	width: 1000px
}

.profileSection {
	float: left;
	width: 30%;
	border: 1px solid #ddd;
}

.profileImageSection h2 {
	text-align: center;
	padding: 4px;
	padding-top: 0px;
	background: #fff;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.profileSection h2 {
	margin: 0;
	padding: 0px;
	font-size: 165%;
	margin-bottom: 4px;
}

.profileImageSection {
	float: left;
	margin: 0 2px;
	width: 92%;
	margin: 5px;
	height: 30%;
	padding: 6px;
	border: 2px solid #ddd;
}

.profileImageDiv {
	margin: auto;
	background: #fff;
	padding-top: 6px;
	width: 200px;
	height: 220px;
	overflow: hidden;
}

.profileImageSection img {
	max-height: 100%;
	max-width: 100%;
}

.profileInfoBox {
	clear: both;
	width: 92%;
	margin: 5px;
	padding: 6px;
	border: 2px solid #ddd;
	background: #fff;
	overflow: hidden;
}

#locationDiv {
	width: 90%;
}

h2.heading {
	border-bottom: 2px solid #ddd;
}

.profileCaption {
	font-family: Georgia, serif;
	font-size: 18px;
	color: #555444;
	text-align: center !important;
	text-transform: capitalize;
}

.description {
	font-size: 13px;
	margin: 15px 0;
	color: #555;
}

.businessInfoItem {
	clear: both;
	display: block;
	padding: 3px;
	margin: 4px 3px;
	color: #555;
}

.tweetBoxDiv {
	margin-left: 12px;
}

.tweetSection {
	margin-top: 6px;
	padding: 8px;
	background: #ddd;
}

.rootTweetSection {
	position: relative;
	float: left;
	width: 60%;
	border: 1px solid #ddd;
	margin-left: 1%;
}

.accountStatDiv {
	display: block;
	float: left;
	width: 25%;
	height: 80px;
	margin-right: 2px;
}

/****************************** personal account settings view ****************************/
.mainContent {
	margin: 20px 0px 0px 40px;
	width: 90%;
	border: 1px solid #ddd;
	padding: 8px;
}

.settingsPanel {
	position: relative;
	float: left;
	width: 90%;
	background: #f1f1f1;
	opacity: 0.9;
	margin-left: 2px;
	padding: 10px;
	border: 1px solid #ddd;
}

.updatePasswordBtn {
	margin-top: 20px;
	float: left;
}

.passwordTextBox {
	height: 38px !important;
	font-size: 16px !important;
}

.introductionTextBox {
	float: left;
	width: 110%;
	height: 120px;
	padding: 6px;
	margin-bottom: 30px;
	font-size: 14px !important;
}

.label {
	font-family: Georgia, Times, " Times New Roman ", serif;
	font-size: 14px;
	color: #848484;
}

.non_editable {
	margin: 6px 2px 12px 2px;
}

.clear {
	clear: both;
}

.profileInfoBlock {
	clear: both;
}

.basicInfoPanel {
	margin-left: 20px;
}

.profileInfoTextBlock {
	float: left;
	width: 30%;
}

.profileInfoImageBlock {
	position: absolute;
	top: 30px;
	right: 10px;
	width: 35%;
}

.settingsProfileImageSection {
	margin: 0 20px 0 0;
}

.uploadFormActionPanel {
	position: absolute;
	top: 100px;
}

.buttonsPanel {
	clear: both;
	margin-top: 10px;
	margin-left: 160px;
}

.buttonsPanel .btn {
	margin: 10px 4px;
	float: right;
}

.notificationTable {
	border: 1px solid #ddd;
	padding: 10px;
	width: 70%;
}

.notificationTable tr,.notificationTable th {
	border: 1px solid #ddd;
	width: 80%;
	margin: 10px 5px;
}

.notificationTable td {
	border: 1px solid #ddd;
	padding: 5px;
}

.notificationTable td select {
	width: 100%;
	display: block;
}

.navlink {
	list-style: none !important;
}

.navlink2 {
	position: relative;
}

.navlink2:before {
	content: "\f000";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}

.smallfont {
	font-size: 12px;
}

.leftAlignedLabel {
	float: left;
	width: 50px;
	margin-right: 5px;
}

.leftAlignedPanel {
	float: left;
}

.addressPanel {
	padding: 4px;
}

.basicInfoTab {
	min-height: 320px;
	padding: 10px;
	overflow: hidden;
}

.uploadProfileImagePanel {
	position: relative;
	top: 50px;
	margin-left: 100px;
}

.profileImagePanel {
	width: 180px;
	height: 200px;
	margin-bottom: 2px;
}

.profileImage {
	max-height: 100%;
	max-width: 100%;
}

.tab-heading {
	font-family: sans-serif, sans;
	font-size: .8em;
	list-style: none;
}

.locationTab {
	position: relative;
	left: 36px;
}

.alertMsg {
	margin-top: 8px;
}

.badgePanel {
	display: inline-block;
}

.accountAttribute {
	font-weight: 600;
}

.container {
	margin-top: 10px;
}

.popoverLink {
	font-size: 11px !important;
}

.popoverText {
	display: inline;
	font-size: 11px !important;
}

.tab-content {
	overflow: hidden;
}

.passwordField {
	height: 38px;
	font-size: 16px;
}

input[type="text"], input[type="password"] {
	height: 38px;
	font-size: 18px;
}

.updateAlertBlock {
	color: #888;
	padding: 10px;
	margin: 6px;
	background: #fff !important;
}

.updateAlertBlock h4 {
	color: #666;
	border-bottom: 1px solid #666;	
	margin-bottom: 12px;
}

.updateAlertBlock a {
	display: inline-block;
	font-size: 16px;
	margin-left: 4px;
}
