/*general style*/
header,hgroup,nav,section,article,aside,footer {
	display: block;
}

/*header area*/
header {
	height: auto;
	text-align: center;
}

#sidebar {
	width: 140px;
	padding: 5px;
	border: 1px solid #ddd;
	background: #f8f1f6;
}

h1, h2, h3, h4 {
	color : #555 !important;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

hr {
	margin: 10px;
}

.link {
	color: #0080FF !important;
}

.link:hover {
	color: #555 !important;
}

.heading {
	font-family: Gargoyle, Serif, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #555333;
	line-height: 30px;
	margin: 0;
}

.heading4 {
	font-family: Gargoyle, Serif, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #555333;
	line-height: 30px;
	margin: 0;
}

.heading:first-letter {
	text-transform: capitalize;
}

.paragraph {
	font-family: sans-serif;
	font-size: 1.2em;
	color: #555333;
	line-height: 30px;
	margin: 0;
}

#wrapper {
	width: 100%;
	overflow-x: hidden;
	height: auto;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}

footer p a {
	font-size: 12px;
	font-family: sans-serif;
	color: #555;
}

.backgroundImage {
	background: url('neighborhood_large.jpg'); no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*section area*/
section {
	float: left;
	width: 100%;
	margin: auto;
}

article#main {
	float: left;
	width: 100%;
	height: 100%;
	max-height: 1000px;
}

/*footer area*/
footer {
	clear: both;
	height: 40px;
	margin-top: 5px;
	background: #f1f1f1;
	text-align: center;
}
/******** Login **************/
/*****************************/
/******** Main View **********/
#mainHeading {
	margin: 80px 10px 20px 80px;
	width: 400px;
}

.bigtext {
	font-family: sans-serif;
	font-size: 38px;
}

.mediumtext {
	font-family: sans-serif;
	font-size: 17px;
}

.smalltext {
	font-family: sans-serif;
	font-size: 12px;
}

.tinytext {
	font-family: Georgia, sans-serif;
	font-size: 10px;
}

.datefont {
	font-family: sans-serif;
	font-size: 11px;
}

#mainHeading h1 {
	font-family: cursive;
	font-size: 28px;
	font-weight: bold;
	color: #555;
	padding: 4px;
	text-align: center;
}

/*********Main View Ends********/
/******** Account **************/
.profile_section_heading {
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia,
		serif;
	font-size: 20px;
	height: 30px;
	border-bottom: 2px solid #ddd;
	margin: 5px 0px 20px 0px;
	width: 200%;
}
/*************End of Account****************/
.tweetFilterLink {
	clear: both;
	float: left;
	display: block;
	font-size: 15px;
	width: 100%;
	margin: 3px 2px;
	padding: 5px 2px;
	background: #f9f9f9;
}

.tweetFilterLink:hover {
	background: #ddd;
}

.pcell {
	display: block;
	width: 90%;
	float: left;
	margin: 2px 2px;
	margin: 15px 5px 20px 10px;
	padding: 3px;
	background: #f1f1f1;
	border: 1px solid #ddd;
}

.pcell:hover {
	background: #A9E2F3;
}

.pcell-image {
	float: left;
	width: 200px;
	height: 180px;
}

.pcell-image img {
	max-height: 100%;
	max-width: 100%;
}

.pcell-info {
	float: left;
	width: 250px;
	margin-left: 10px;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.pcell-row {
	display: block;
	padding: 4px 8px;
}

.pcell-row-heading {
	display: block;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.5em;
	font-weight: bold;
	color: #666;
	padding: 4px 8px;
	text-transform: capitalize;
}

.pcell-row-info-heading {
	display: inline-block;
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 1.1em;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #666;
}

.pcell-btn {
	padding: 4px 8px;
}

.filterheader {
	font-style: sans-serif;
	font-size: 16px;
	text-align: center;
	clear: both;
	width: 160px;
	height: 30px;
	background: #ddd;
}

.vertical-panel {
	display: block;
}

.fontawesome {
	font-family: FontAwesome;
	font-size: 12px;
}

.price-range {
	color: #b2b2b2;
}

.horizontal-panel {
	clear: both;
	display: block;
	float: left;
	padding: 2px;
}

.horizontal-widget {
	display: inline-block;
	float: left;
	margin: 2px 8px;
}

.vertical-panel {
	display: block;
	padding: 2px;
}

.vertical-widget {
	display: block;
	margin: 2px 8px;
}

.clearfix {
	clear: both;
}

.facebookSignupLink {
	font-family: sans-serif;
	font-size: 15px;
	color: #005580 !important;	
	text-align: center;
	font-weight: bold;
}

.caret {
	margin-top: 10px;
}

.label {
 	background: none !important;
	color: #555 !important;
	text-shadow: none !important;
	font-size: 16px !important;
	font-family: "Lucida Bright", Georgia, serif !important;
}

textarea {
	font-size: 16px !important;
}

.couponDiv { 
  margin-top: 5px;
  padding: 10px;	
}

.couponDiv h4 {
	border-bottom: 1px solid #777;
}

.couponDiv ul {
	margin: 0;
}
.couponDiv ul li{
  list-style: none;	
  font-size: 14px;
  font-weight: 777;
}

.couponDiv .heading {
	font-family: sans, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.messageBlock {
	display: block;
	padding: 16px 8px !important;
	font-size: 15px;
}
/* This is used for notification drop down */