<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

<filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
</filter>    

<filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/ziplly/*</url-pattern>
</filter-mapping>

<listener>
    <listener-class>com.ziplly.app.server.guice.MyGuiceContextListener</listener-class>
</listener>

<!-- Servlets -->
<!--   <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.ziplly.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/ziplly/greet</url-pattern>
  </servlet-mapping>
  
 -->
  <servlet>
      <servlet-name>UploadServlet</servlet-name>
      <servlet-class>com.ziplly.app.server.UploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/upload</url-pattern>    
  </servlet-mapping>
  
  <servlet>
      <servlet-name>ConfirmPaymentServlet</servlet-name>
      <servlet-class>com.ziplly.app.server.ConfirmPaymentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>ConfirmPaymentServlet</servlet-name>
      <url-pattern>/confirmpayment</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>EmailServlet</servlet-name>
      <servlet-class>com.ziplly.app.server.EmailServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EmailServlet</servlet-name>
  	<url-pattern>/sendmail</url-pattern>
  </servlet-mapping>
   
  <!-- 
  <servlet>
    <servlet-name>zipllyServlet</servlet-name>
    <servlet-class>com.ziplly.app.server.ZipllyServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>zipllyServlet</servlet-name>
    <url-pattern>/ziplly/zipllyservice</url-pattern>
  </servlet-mapping>
   -->
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Ziplly.html</welcome-file>
  </welcome-file-list>

</web-app>
