@CHARSET "UTF-8";

@sprite .mainPageBackground {
	gwt-image: 'neighborhoodLargePic';
	background-repeat:no-repeat;
	background-size: 960px 1000px;
}

@sprite .fbBtnImage {
	gwt-image: 'facebookLoginButtonImage';
	background-repeat: no-repeat;
}
