@CHARSET "UTF-8";

@sprite .mainPageBackground {
	gwt-image: 'neighborhoodLargePic';
	background-repeat:no-repeat;
	background-size: 960px 1000px;
}

@sprite .fbBtnImage {
	gwt-image: 'facebookLoginButtonImage';
	background-repeat: no-repeat;
}

@sprite .zipllyLogo {
	gwt-image: 'zipllyLogo';
	background-repeat: no-repeat;
}

@sprite .promotionCycleImage {
    gwt-image:'promotionCycle';
    background-repeat:no-repeat;
}

@sprite .googleBuyButtonImage {
	gwt-image: 'googleBuyButton';
	background-repeat: no-repeat;	
}

.selectedLink {
	background: #ddd;
	padding: 2px;
}

.selectedLink:visited {
	background: #ddd;	
}

.deselectLink {
	background: none;
	padding: 2px;
}