@CHARSET "UTF-8";

.mainPageBackground {
	gwt-image: 'neighborhoodLargePic';
	background-repeat:no-repeat;
}

@sprite .fbBtnImage {
	gwt-image: 'facebookLoginButtonImage';
	background-repeat: no-repeat;
}
